.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
.terraform/plugins/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
.terraform/plugins/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfplan
.terraform/plugins/
