version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: node_app_container
    ports:
      - "3130:3130"
    depends_on:
      - mongodb
    # --- ADD THIS SECTION ---
    volumes:
      - .:/Capsule
      - /Capsule/node_modules # Prevents local node_modules from overwriting container's modules
    # ------------------------
    environment:
      - MONGODB_URI=${MONGODB_URI}
      - SESSION_SECRET=${SESSION_SECRET}
      - EMAIL_USER: ${EMAIL_USER}   # <--- Add this
      - EMAIL_PASS: ${EMAIL_PASS}

volumes:
  mongo-data:


